on: [push, pull_request]
name: Tests
jobs:
  test:
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
          - 1.91.0  # MSRV
      fail-fast: false
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: "-D warnings -C debug_assertions"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}

      - name: Run tests (default features)
        run: cargo test --release --verbose --all
      - name: Run tests (all features)
        run: cargo test --release --verbose --all --all-features
